* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#container {
  background-color: #333;
  color: #FFF;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
  height: 800px;
  max-width: 1100px;
}

.cabecalho{
  background-color: brown;
  padding:5% 1%;
}

.cabecalho li{
  display: inline;
}
